.MessageTemplateEditorWidget {
  min-width: 1000px;
  max-width: max-content;
  margin: 0 auto;

  &__variablesContainer {
    margin-bottom: 15px;
  }

  &__splitterFields {
    margin: 0 0 20px 300px;
  }

  &__header {

  }
}

.header {
  text-align: center;
}

.variablesContainer {
  &__variableButton {
    margin-right: 5px;
  }
}

.variableButton {
  padding: 4px;
  border: 0;
  border-radius: 4px;
  background-color: #92b947;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.splitterFields {
  width: 600px;
  padding: 8px 20px;
  border: 1px solid #b9a1a1;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}

.controlPanel {
  display: flex;
  justify-content: center;

  &__controlButton {
    margin: 20px 30px
  }
}

.controlButton {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}