.MessageTemplateEditor {
  width: 1000px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.field {
  resize: none;
  width: 100%;
  min-height: 50px;
  max-height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 4px;
  overflow: hidden;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.panel {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 0;

  &-show {
    height: 70px;
    animation: height-grow-animation 0.1s linear;
  }

  &-hidden {
    height: 0;
    animation: height-decreases-animation 0.1s linear;
  }
}

@keyframes height-grow-animation {
  0%    { height: 0; }
  10%   { height: 7px; }
  20%   { height: 14px; }
  30%   { height: 21px; }
  40%   { height: 28px; }
  50%   { height: 35px; }
  60%   { height: 42px; }
  70%   { height: 49px; }
  80%   { height: 56px; }
  90%   { height: 63px; }
  100%  { height: 70px; }
}

@keyframes height-decreases-animation {
  0%  { height: 70px; }
  10%   { height: 63px; }
  20%   { height: 56px; }
  30%   { height: 49px; }
  40%   { height: 42px; }
  50%   { height: 35px; }
  60%   { height: 28px; }
  70%   { height: 21px; }
  80%   { height: 14px; }
  90%   { height: 7px; }
  100%    { height: 0; }
}

.buttonSplitter {
  width: 200px;
  display: flex;
  margin: 20px 10px 20px auto;
  text-transform: uppercase;
  color: #5674bd;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 9px;
  font-size: 16px;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.imgButtonSplitter {
  width: 30px;
  height: 30px;
}

.MessageTemplateEditor:has(.buttonSplitter:hover) {
  box-shadow: 0 0 5px green;
  border: 1px solid green;
  outline: none;
}

/*
  При наведении на кнопку разбития блоков (которая должна иметь css класс согласно условию в коде),
  вешаем hover-эффект на все поля редактирования "частей" сообщения,
  что бы пользователь видел, какой блок разобьётся после нажатия на кнопку "Add ifThenElse".
 */
//.splitterFields:hover ~ .MessageTemplateEditorWidget__containerForSubMessages .MessageTemplateEditor-canSplit {
//  box-shadow: 0 0 5px green;
//  padding: 3px 0px 3px 3px;
//  border: 1px solid green;
//  outline: none;
//}
