$backgroundColor: #00000036;
$fontColor: white;
$fieldBorderColor: #5674bd;

.VariableValueEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.VariableValueEditorLabel {
  margin: 10px 8px;
  width: 80px;
  color: $fontColor;
}

.VariableValueEditorField {
  height: 20px;
  width: 100%;
  border: none;
  padding: 5px;
  color: $fontColor;
  background-color: $backgroundColor;
  border-radius: 6px;

  &:focus-visible {
    outline: 1px solid $fieldBorderColor;
    -webkit-box-shadow: 0 0 2px 2px rgba(86, 116, 189, 0.41);
    -moz-box-shadow: 0 0 2px 2px rgba(86, 116, 189, 0.41);
    box-shadow: 0 0 2px 2px rgba(86, 116, 189, 0.41);
  }
}
