body {
  background-color: #282828ed;
}

.App {
  padding: 10px;
  display: flex;
  overflow-x: auto;

  &__toggleMessageTemplate {
    margin: 100px;
  }
}

.toggleMessageTemplate {
  width: 1000px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 4px;
  letter-spacing: 4px;
  margin: 20px auto;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}